*.csv
.idea/FHNW_FS20_Recommender System Retail.iml
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/rSettings.xml
.idea/vcs.xml
*.png
__pycache__/function_suit.cpython-37.pyc
*.pyc
*.png
